body {
	background: linear-gradient(to left bottom,  lightblue ,lightpink, lightblue);
	min-height: 100vh;
}

h1 {
	margin-bottom: 30px;
	text-shadow: 3px 6px 7px rgba(0, 0, 0, .5);
}

.container{
	width: 50%;
	min-width: 200px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 150px;
	text-align: center;
	padding-top:50px;
	border-radius: 25px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    color: green;
    font-weight: bold;
}

button {
	margin-top: 40px;
	width: 30%;
	max-height: 70%;
	border: 0px;
	border-radius: 50px;
	box-shadow:  white;
	color: green;
	font-weight: bold;
}

button:hover{
	background-color: rgba(50, 50, 50, .5);
	min-width: 40%; 
	min-height: 13%;
	box-shadow: 0 4px 4px rgba(0, 0, 255, .3);
	transition: all 900ms ease;
}